
<nav class="navbar navbar-expand-lg navbar-dark bg-dark col-sm-12 col-md-12">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/images/brand-black.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Pycotr Exchange Platform
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item ">
                  <a id="navbar-home" class="nav-link <% if(current == 'home') { %> active <% } %>" href="/home">Home</a>
                </li>

              <% if (user) { %>
                    <li class="nav-item">
                      <a id="navbar-transaction" class="nav-link <% if(current == 'transactions') { %> active <% } %>" href="/exchange">Transactions</a>
                    </li>
                  <li class="nav-item">
                      <a id="navbar-explorer" class="nav-link <% if(current == 'explorer') { %> active <% } %>" href="/explorer">Explorer</a>
                  </li>
                  <li class="nav-item">
                      <a id="navbar-configure"  class="nav-link <% if(current == 'configure') { %> active <% } %>" href="/displaynetwork">Configure</a>
                  </li>
              <% } %>


          <!--
              <li class="nav-item">
                  <a class="nav-link <% if(current == 'test') { %> active <% } %>" href="/test">Test</a>
              </li>
           -->
      </ul>

      <form class="d-flex">
          <% if (user) { %>
              <a id="navbar-email" data-toggle="tooltip" title="Logout" href="/logout" class="nav-link text-light"><%= user.name %></a>
          <% } else { %>
                  <a id="navbar-signin" class="nav-link" href="/login">Sign in</a>
              <% } %>
      </form>
    </div>
  </div>
</nav>



