<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/navbar'); %>
</header>

<main>
<div class="row">
    <div class="col-sm-12">
        <div >
            <br><br>
            <h3 style="font-family: Arial">What is Pycotr <img src="./images/brand-white.png" style="width: 30px;aspect-ratio: auto 30 / 30;height: 30px;" class="rounded" alt="..."> ? </h3>

            <p style="font-family: Arial">
            An unrealistic and fake crypto money I've created on top of an unrealistic and fake Blockchain i have implemented too !
                Backend is <b>Python</b> made even though, this is my first shot with this language. Web front is <b>Jquery and Bootstrap</b>,
                since I'm not a front guy and i have no clue about React or Vue. Sorry for the design :-)<br><br>
                You can play with this web application to: </p>

            <ul>
                <li>Become an authorized member <img src="./images/brand-white.png" style="width: 30px;aspect-ratio: auto 30 / 30;height: 30px;" class="rounded" alt="..."></li>
                <li>Login as a member to submit <img src="./images/brand-white.png" style="width: 30px;aspect-ratio: auto 30 / 30;height: 30px;" class="rounded" alt="..."> transactions</li>
                <li>Configure the crypto network with multiple nodes and see how Proof-of-Work behaves</li>
                <li>Explore all (or filter) submitted transactions in the blockchain</li>
            </ul>
            <br>
            <h3 style="font-family: Arial">What is BlockChain ?</h3>
            <br>
            <p style="font-family: Arial">
                A blockchain is a distributed database that is shared among the nodes of a computer network.
                It electronically stores information in digital form.
                They are well known for their fundamental role they play in crypto-money systems,
                to leverage secure and decentralized record of transactions.
            </p>
            <p style="font-family: Arial">Different types of information can be stored on a blockchain, but the most common use so far is as a ledger for money transactions.
                <br><br>
                <div class="text-center">
                    <img src="../../images/blockchain_and_transaction.png" class="img-fluid" style="width: 60%" alt="Blockchain">
                </div>
        </div>
    </div>
</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
